@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/img/46f5829f-ca93-4682-8c78-248c522f0c70.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Bitcount Single", system-ui;
}

.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.button {
    --border-right: 6px;
    --animation-color: #FA8072 ;
    --fs-size: inherit;
    letter-spacing: 3px;
    text-decoration: none;
    position: relative;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.desc-text {
    text-decoration: underline;
    text-decoration-color: #FA8072;
}

@keyframes slideFromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-from-top {
    opacity: 0;
    transform: translateY(-30px);
    animation: slideFromTop 0.8s ease-out forwards;
}

.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }
.delay-5 { animation-delay: 1s; }

.card {
    border-radius: 10px;
    height: 30vh;
}

.card-title {
    font-size: xx-large;
    padding-top: 20px;
    color: white;
}

.card-text {
    padding-top: 5rem;
    font-size: x-large;
    color: white;
}